./bin/*
/bin/*
bin/*
bin
./bin
/bin


.vscode/settings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Examples1/v17/.wsuo
.vs/Examples1/FileContentIndex/a27899f6-84ed-4898-87cc-d02c8db4818d.vsidx
.vs/Examples1/v17/DocumentLayout.json
.vs/Examples1/v17/DocumentLayout.backup.json
.gitignore
.gitignore
